<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sole Traders Home</title>
</head>
<body>
  <h1>Welcome to Sole Traders!</h1>
  <p>This is your home page.</p>
</body>
</html>
